<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Web xem phim của nhóm 1</title>
</head>

<body>
    <div class="thanhcongcu">
        <div class="thanhcongcu-container">
            <div class="logo-container">
                <h1 class="logo">Nhóm 1</h1>
            </div>
            <div class="menu-container">
                <ul class="menu-list">
                    <li class="menu-list-item active">Trang chủ</li>
                    <li class="menu-list-item">Phim</li>
                    <li class="menu-list-item">Thể loại</li>
                    <li class="menu-list-item">Quốc Gia</li>
                    <li class="menu-list-item">Xu hướng</li>
                    <li class="login"> 
                        <button class="btn_dangnhap">Đăng Nhập</button>
                    </li>
                    <li>
                        <button class="btn_update_user">Đăng ký</button>
                    </li>
                    <li class="logout" style="display:none"> 
                        <form action="/logout" method="post">
                          <input type="submit" value="Đăng xuất">
                        </form>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content-container">
            <div class="featured-content"
            style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('/static/img/f-1.jpg');">
                <img class="featured-title" src="/static/img/logo.jpg" alt="">
                <p class="featured-desc">Web xem phim của nhóm 1 .</p>
                <button class="featured-button">Watch</button>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">PHIM MỚI</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="/static/img/1.jpeg" alt="">
                            <span class="movie-list-item-title">Moving - Đội thiếu niên siêu đẳng</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="/static/img/2.jpeg" alt="">
                            <span class="movie-list-item-title">Lá phiếu tử hình</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="/static/img/3.jpg" alt="">
                            <span class="movie-list-item-title">Ai là kẻ sát nhân</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="/static/img/4.jpg" alt="">
                            <span class="movie-list-item-title">The Nun 2</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="/static/img/5.jpg" alt="">
                            <span class="movie-list-item-title">End Game</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="/static/img/6.jpg" alt="">
                            <span class="movie-list-item-title">Siêu thú cuồng nộ</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="/static/img/7.jpg" alt="">
                            <span class="movie-list-item-title">Shin kamen raider</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>
            <div class="featured-content"                                              
                style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('/static/img/f-2.jpg');">
                <img class="featured-title" src="/static/img/f-t-2.png" alt="">
                <p class="featured-desc">Câu chuyện kể về các nhân vật đến từ thị trấn hư cấu Winden, Đức, khi họ theo đuổi sự thật sau sự mất tích của một đứa trẻ. Họ lần theo mối liên hệ giữa bốn gia đình xa cách để làm sáng tỏ một âm mưu du hành thời gian nham hiểm kéo dài qua nhiều thế hệ</p>
                <button class="featured-button">WATCH</button>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">THỊNH HÀNH</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="/static/img/8.jpg" alt="">
                            <span class="movie-list-item-title">Moving - Đội thiếu niên siêu đẳng</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="/static/img/9.jpg" alt="">
                            <span class="movie-list-item-title">Lá phiếu tử hình</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="/static/img/10.jpg" alt="">
                            <span class="movie-list-item-title">Ai là kẻ sát nhân</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="/static/img/11.jpg" alt="">
                            <span class="movie-list-item-title">The Nun 2</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="/static/img/12.jpg" alt="">
                            <span class="movie-list-item-title">End Game</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="/static/img/13.jpg" alt="">
                            <span class="movie-list-item-title">Siêu thú cuồng nộ</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="/static/img/14.jpg" alt="">
                            <span class="movie-list-item-title">Shin kamen raider</span>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>          
        </div>
    </div>
    <form class="form_dangnhap" style="display:none" action="/login" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Email">
        <label for="password">Mật khẩu:</label>
        <input type="password" name="password" id="password" placeholder="Mật khẩu">
        <button type="submit">Đăng nhập</button>
        <span class="out_form_dn">Thoát</span>
    </form>
    <form style="display: none;" class="form_themuser" action="/adduser" method="post">
        <label >User Name:</label>
        <input class="input_xoaphim" type="text" name="name_user" id="name_user" placeholder="Name user">
        <label >Email:</label>
        <input class="input_xoaphim" type="email" name="email_user" id="email_user" placeholder="Email user">
        <label >Password</label>
        <input class="input_xoaphim" type="password" name="pw_user" id="pw_user" placeholder="ID user">
        <button type="submit" class="btn_xoaphim">Thêm User</button>
        <span class="btn_out_form_themuser">Thoát</span>
    </form>
    <div class="new_box" style="display:none">
        <span class="event_span_box">Thêm thành công</span>
        <button class="on_to_dangnhap">Đăng Nhập</button>
        <button class="out_new_box">Thoát</div>
    </div>
    <div class="cover_none" style="display:none"></div>
    <script>
        const btn_dangnhap = document.querySelector(".btn_dangnhap");
        const form_dangnhap = document.querySelector(".form_dangnhap");
        const cover_none = document.querySelector(".cover_none");
        const out_form_dn = document.querySelector(".out_form_dn");
        // Dang ky
        const on_to_dangnhap = document.querySelector(".on_to_dangnhap");
        const out_new_box = document.querySelector(".out_new_box");
        const new_box = document.querySelector(".new_box");
        on_to_dangnhap.addEventListener('click', () => {
            new_box.style.display = "none";
            form_dangnhap.style.display = "block";
            cover_none.style.display = "block";
        })
        out_new_box.addEventListener('click', () => {
            new_box.style.display = "none";
            cover_none.style.display = "none";
        })
        // form them user
        const updateUserForm = document.querySelector('.form_themuser');
        const btn_out_form_themuser = document.querySelector('.btn_out_form_themuser');
        const btn_update_user = document.querySelector('.btn_update_user');

        btn_dangnhap.addEventListener('click', () => {
            updateUserForm.style.display = "none";
            cover_none.style.display = "block";
            form_dangnhap.style.display = "block";
        })
        cover_none.addEventListener('click', () => {
            form_dangnhap.style.display = "none";
            updateUserForm.style.display = 'none';
            cover_none.style.display = "none";
            new_box.style.display = "none";
        })
        out_form_dn.addEventListener('click', () => {
            form_dangnhap.style.display = "none";
            cover_none.style.display = "none";
        })
        
        // Hien thi form them user
        btn_update_user.addEventListener('click', () => {
            updateUserForm.style.display = 'block';
            form_dangnhap.style.display = "none";
            cover_none.style.display = "block";
            const btn_out_form_themuser = document.querySelector('.btn_out_form_themuser');
            btn_out_form_themuser.addEventListener('click', () => {
                updateUserForm.style.display = 'none';
                cover_none.style.display = "none";
            })
        });
    </script>
</body>
