<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<link href="/static/member.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;family=Sen:wght@400;700;800&amp;display=swap" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet"/>
<title>Web xem phim của nhóm 1</title>
</head>
<body>
<div class="thanhcongcu">
<div class="thanhcongcu-container">
<div class="logo-container">
<h1 class="logo">Nhóm 1</h1>
</div>
<div class="menu-container">
<ul class="menu-list">
<li class="menu-list-item active">Trang chủ</li>
<li class="menu-list-item">Phim</li>
<li class="menu-list-item">Thể loại</li>
<li class="menu-list-item">Quốc Gia</li>
<li class="menu-list-item">Xu hướng</li>
<li class="login" style="display:none">
<form action="/login" method="post">
<input name="user_id" placeholder="Tên đăng nhập" type="text"/>
<input type="submit" value="Đăng nhập"/>
</form>
</li>
<li class="logout" style="display:block">
<form action="/logout" method="post">
<input type="submit" value="Đăng xuất"/>
</form>
</li>
</ul>
</div>
<div class="profile-container">
<img alt="" class="profile-picture" src="/static/avatar/anh.jpg"/>
<div class="profile-text-container">
<span class="profile_text">Nhật</span>
<i class="fas fa-caret-down"></i>
</div>
</div>
</div>
</div>
<div class="event_btn">
<form action="/goiykhac" class="goiykhac" method="post">
<input type="submit" value="Gợi ý khác"/>
</form>
</div>
<div class="list_firm">
<div class="list_firm_img">
<div class="list_firm_img_left">
<img alt="" class="img_display" src="/static/img/12.jpg"/>
<div class="list_firm_img_left_btn">
<button>Trailer</button>
<button class="btn_xemphim">Xem phim</button>
</div>
</div>
<div class="list_firm_img_right">
<h2 class="list_firm_img_right_title">Wreck-It Ralph</h2>
<div class="list_firm_img_right_inf">
<p>Trạng thái: HD Vietsub</p>
<p>Nhà xuất bản: <span class="inf_change">Spike Lee</span></p>
<p>
              Diễn viên:
              <span class="inf_change line_max">Austin Abell, Travis Turner, Cole Howard, Anna Cummer, Jesse Inocalla, Brian Dobson, Michael Adamthwaite, Joseph Girgis, Caitlyn Bairstow</span>
</p>
<p>Quốc gia: <span class="inf_change">United States, United Kingdom, Canada</span></p>
<p>Năm sản xuất: 2011</p>
<p>Thời lượng: <span class="inf_change">4 Seasons</span></p>
<p>Độ phân giải: <span>Full HD</span></p>
<p>Id_Firm: <span class="inf_change_id">1427</span></p>
</div>
<div class="rating_movie">
<h2>Đánh giá phim</h2>
<form action="/danhgia" class="rating" method="post">
<span class="star"><i aria-hidden="true" class="fa fa-star"></i></span>
<span class="star"><i aria-hidden="true" class="fa fa-star"></i></span>
<span class="star"><i aria-hidden="true" class="fa fa-star"></i></span>
<span class="star"><i aria-hidden="true" class="fa fa-star"></i></span>
<span class="star"><i aria-hidden="true" class="fa fa-star"></i></span>
<input id="id_nguoidung" name="id_nguoidung" type="hidden" value="25"/>
<input id="id_phim" name="id_phim" type="hidden" value="1427"/>
<input id="pos" name="pos" type="hidden" value="0"/>
<input id="rating_user" name="rating_user" type="hidden" value="0"/>
<input class="rating_submit" type="submit" value="Đánh giá"/>
</form>
<form action="/recommend" class="recommends" method="post">
<input type="submit" value="Recommend"/>
</form>
</div>
</div>
</div>
<div class="list_firm_img">
<div class="list_firm_img_left">
<img alt="" class="img_display" src="/static/img/68.jpg"/>
<div class="list_firm_img_left_btn">
<button>Trailer</button>
<button class="btn_xemphim">Xem phim</button>
</div>
</div>
<div class="list_firm_img_right">
<h2 class="list_firm_img_right_title">The Grandmaster</h2>
<div class="list_firm_img_right_inf">
<p>Trạng thái: HD Vietsub</p>
<p>
              Nhà xuất bản:
              <span class="inf_change">Page Hurwitz</span>
</p>
<p>
              Diễn viên:
              <span class="inf_change line_max">Kenan Thompson, Kel Mitchell, Abe Vigoda, Dan Schneider, Shar Jackson, Jan Schweiterman, Linda Cardellini, Sinbad, Ron Lester, Josh Server, Ginny Schreiber</span>
</p>
<p>
              Quốc gia:
              <span class="inf_change">India</span>
</p>
<p>Năm sản xuất: 2011</p>
<p>Thời lượng: <span class="inf_change">139 min</span></p>
<p>Độ phân giải: <span>Full HD</span></p>
<p>Id_Firm: <span class="inf_change_id">89</span></p>
</div>
<div class="rating_movie">
<h2>Đánh giá phim</h2>
<form action="/danhgia" class="rating" method="post">
<span class="star"><i aria-hidden="true" class="fa fa-star"></i></span>
<span class="star"><i aria-hidden="true" class="fa fa-star"></i></span>
<span class="star"><i aria-hidden="true" class="fa fa-star"></i></span>
<span class="star"><i aria-hidden="true" class="fa fa-star"></i></span>
<span class="star"><i aria-hidden="true" class="fa fa-star"></i></span>
<input id="id_nguoidung" name="id_nguoidung" type="hidden" value="25"/>
<input id="pos" name="pos" type="hidden" value="0"/>
<input id="id_phim" name="id_phim" type="hidden" value="89"/>
<input id="rating_user" name="rating_user" type="hidden" value="0"/>
<input class="rating_submit" type="submit" value="Đánh giá"/>
</form>
<form action="/recommend" class="recommends" method="post">
<input type="submit" value="Recommend"/>
</form>
</div>
</div>
</div>
<div class="list_firm_img">
<div class="list_firm_img_left">
<img alt="" class="img_display" src="/static/img/59.jpg"/>
<div class="list_firm_img_left_btn">
<button>Trailer</button>
<button class="btn_xemphim">Xem phim</button>
</div>
</div>
<div class="list_firm_img_right">
<h2 class="list_firm_img_right_title">Wonder Boys</h2>
<div class="list_firm_img_right_inf">
<p>Trạng thái: HD Vietsub</p>
<p>
              Nhà xuất bản: <span class="inf_change">Tom Hooper</span>
</p>
<p>
              Diễn viên:
              <span class="inf_change line_max">Cameron Britton, Jack Huston, Judith Light, Carla Gugino, Gethin Anthony, Kelly Jenrette, Arliss Howard, Jay O. Sanders, Nick Searcy, Marley Shelton, Becky Ann Baker, Brad William Henke</span>
</p>
<p>
              Quốc gia:
              <span class="inf_change">Spain</span>
</p>
<p>Năm sản xuất: 2011</p>
<p>Thời lượng: <span class="inf_change">5 Seasons</span></p>
<p>Độ phân giải: <span>Full HD</span></p>
<p>Id_Firm: <span class="inf_change_id">1304</span></p>
</div>
<div class="rating_movie">
<h2>Đánh giá phim</h2>
<form action="/danhgia" class="rating" method="post">
<span class="star"><i aria-hidden="true" class="fa fa-star"></i></span>
<span class="star"><i aria-hidden="true" class="fa fa-star"></i></span>
<span class="star"><i aria-hidden="true" class="fa fa-star"></i></span>
<span class="star"><i aria-hidden="true" class="fa fa-star"></i></span>
<span class="star"><i aria-hidden="true" class="fa fa-star"></i></span>
<input id="id_nguoidung" name="id_nguoidung" type="hidden" value="25"/>
<input id="id_phim" name="id_phim" type="hidden" value="1304"/>
<input id="pos" name="pos" type="hidden" value="0"/>
<input id="rating_user" name="rating_user" type="hidden" value="0"/>
<input class="rating_submit" type="submit" value="Đánh giá"/>
</form>
<form action="/recommend" class="recommends" method="post">
<input type="submit" value="Recommend"/>
</form>
</div>
</div>
</div>
<div class="list_firm_img">
<div class="list_firm_img_left">
<img alt="" class="img_display" src="/static/img/64.jpg"/>
<div class="list_firm_img_left_btn">
<button>Trailer</button>
<button class="btn_xemphim">Xem phim</button>
</div>
</div>
<div class="list_firm_img_right">
<h2 class="list_firm_img_right_title">Vacation</h2>
<div class="list_firm_img_right_inf">
<p>Trạng thái: HD Vietsub</p>
<p>
              Nhà xuất bản: <span class="inf_change">Luv Ranjan</span>
</p>
<p>
              Diễn viên:
              <span class="inf_change line_max">Forest Whitaker, Keegan-Michael Key, Hugh Bonneville, Anika Noni Rose, Madalen Mills, Phylicia Rashad, Ricky Martin, Justin Cornwell, Sharon Rose, Lisa Davina Phillip, Kieron Dyer</span>
</p>
<p>Quốc gia: <span class="inf_change">Argentina</span></p>
<p>Năm sản xuất: 2011</p>
<p>Thời lượng: <span class="inf_change">87 min</span></p>
<p>Độ phân giải: <span>Full HD</span></p>
<p>Id_Firm: <span class="inf_change_id">1536</span></p>
</div>
<div class="rating_movie">
<h2>Đánh giá phim</h2>
<form action="/danhgia" class="rating" method="post">
<span class="star"><i aria-hidden="true" class="fa fa-star"></i></span>
<span class="star"><i aria-hidden="true" class="fa fa-star"></i></span>
<span class="star"><i aria-hidden="true" class="fa fa-star"></i></span>
<span class="star"><i aria-hidden="true" class="fa fa-star"></i></span>
<span class="star"><i aria-hidden="true" class="fa fa-star"></i></span>
<input id="id_nguoidung" name="id_nguoidung" type="hidden" value="25"/>
<input id="id_phim" name="id_phim" type="hidden" value="1536"/>
<input id="pos" name="pos" type="hidden" value="0"/>
<input id="rating_user" name="rating_user" type="hidden" value="0"/>
<input class="rating_submit" type="submit" value="Đánh giá"/>
</form>
<form action="/recommend" class="recommends" method="post">
<input type="submit" value="Recommend"/>
</form>
</div>
</div>
</div>
</div>
<script>
      const rating = document.querySelectorAll(".rating");
      const rating_user = document.querySelectorAll("#rating_user");
      const pos = document.querySelectorAll("#pos");

      rating.forEach((item, index1) => {
        const span_rating = item.querySelectorAll(".star");
        span_rating.forEach((star, index) => {
          star.addEventListener("click", (event) => {
            for (var i = 0; i <= index; i++) {
              span_rating[i].style.color = "#ebed54";
            }
            for (var i = index + 1; i < span_rating.length; i++) {
              span_rating[i].style.color = "rgb(192, 186, 186)";
            }
            rating_user[index1].value = index + 1;
            console.log('rating_user',rating_user[index1].value)
            pos[index1].value = index1 + 1;
          });
        });
      });
      const recommends = document.querySelector(".recommends");
      recommends.addEventListener("click", (event) => {
        recommends.style.display="none";
      })
      let firm = ['https://phimmoichillh.net/xem/avatar-2-a3-tap-full-pm105448',
                  'https://phimmoiyyy.net/phim-le/nguoi-nhen-du-hanh-vu-tru-nhen-15411',
                  'https://mephimtv.net/xem-phim/aquaman-de-vuong-atlantis',
                  'https://mephimtv.net/xem-phim/avengers-de-che-ultron']
      // Xem phim btn_xemphim
      const btn_xemphim = document.querySelectorAll(".btn_xemphim");
      btn_xemphim.forEach((item, index1) => {
        item.addEventListener("click", (event) => {
          window.open(firm[index1], "_blank");
        })
      })
    </script>
</body>
</html>
