<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="/static/member.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;family=Sen:wght@400;700;800&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Web xem phim của nhóm 1</title>
  </head>
  <body>
    <div class="thanhcongcu">
      <div class="thanhcongcu-container">
        <div class="logo-container">
          <h1 class="logo">Nhóm 1</h1>
        </div>
        <div class="menu-container">
          <ul class="menu-list">
            <li class="menu-list-item active">Trang chủ</li>
            <li class="menu-list-item">Phim</li>
            <li class="menu-list-item">Thể loại</li>
            <li class="menu-list-item">Quốc Gia</li>
            <li class="menu-list-item">Xu hướng</li>
            <li class="login" style="display: none">
              <form action="/login" method="post">
                <input name="user_id" placeholder="Tên đăng nhập" type="text" />
                <input type="submit" value="Đăng nhập" />
              </form>
            </li>
            <li class="logout" style="display: block">
              <form action="/logout" method="post">
                <input type="submit" value="Đăng xuất" />
              </form>
            </li>
          </ul>
        </div>
        <div class="profile-container">
          <img alt="" class="profile-picture" src="/static/img/profile.jpg" />
          <div class="profile-text-container">
            <span class="profile_text">Profile</span>
            <i class="fas fa-caret-down"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="event_btn">
      <form class="goiykhac" action="/goiykhac" method="post">
        <input type="submit" value="Gợi ý khác" />
      </form>
    </div>
    <div class="list_firm">
      <div class="list_firm_img">
        <div class="list_firm_img_left">
          <img alt="" class="img_display" src="/static/img/14.jpg" />
          <div class="list_firm_img_left_btn">
            <button>Trailer</button>
            <button class="btn_xemphim">Xem phim</button>
          </div>
        </div>
        <div class="list_firm_img_right">
          <h2 class="list_firm_img_right_title">Avatar</h2>
          <div class="list_firm_img_right_inf">
            <p>Trạng thái: HD Vietsub</p>
            <p>Nhà xuất bản: <span class="inf_change">Kirsten Johnson</span></p>
            <p>
              Diễn viên:
              <span class="inf_change line_max"
                >Ama Qamata, Khosi Ngema, Gail Mabalane, Thabang Molaba, Dillon
                Windvogel, Natasha Thahane, Arno Greeff, Xolile Tshabalala,
                Getmore Sithole, Cindy Mahlangu, Ryle De Morny, Greteli Fincham,
                Sello Maake Ka-Ncube, Odwa Gwanya, Mekaila Mathys, Sandi
                Schultz, Duane Williams, Shamilla Miller, Patrick Mofokeng</span
              >
            </p>
            
            <p>Quốc gia: <span class="inf_change">United States</span></p>
            
            <p>Năm sản xuất: 2011</p>
            
            <p>Thời lượng: <span class="inf_change">90 min</span></p>
            
            <p>Độ phân giải: <span>Full HD</span></p>
            <p>Id_Firm: <span class="inf_change_id">1234</span></p>
          </div>
          <div class="rating_movie">
            <h2>Đánh giá phim</h2>
            <form action="/danhgia" class="rating" method="post">
              <span class="star" 
                ><i aria-hidden="true" class="fa fa-star"></i
              ></span>
              <span class="star" 
                ><i aria-hidden="true" class="fa fa-star"></i
              ></span>
              <span class="star" 
                ><i aria-hidden="true" class="fa fa-star"></i
              ></span>
              <span class="star"
                ><i aria-hidden="true" class="fa fa-star"></i
              ></span>
              <span class="star"
                ><i aria-hidden="true" class="fa fa-star"></i
              ></span>
              <input
                id="id_nguoidung"
                name="id_nguoidung"
                type="hidden"
                value="36"
              />
              <input id="id_phim" name="id_phim" type="hidden" value="0" />
              <input id="pos" name="pos" type="hidden" value="0" />
              <input
                id="rating_user"
                name="rating_user"
                type="hidden"
                value="0"
              />
              <input class="rating_submit" type="submit" value="Đánh giá" />
            </form>
            <form action="/recommend" class="recommends" method="post">             
              <input type="submit" value="Recommend" />
            </form>  
          </div>
        </div>
      </div>
      <div class="list_firm_img">
        <div class="list_firm_img_left">
          <img alt="" class="img_display" src="/static/img/80.jpg" />
          <div class="list_firm_img_left_btn">
            <button>Trailer</button>
            <button class="btn_xemphim">Xem phim</button>
          </div>
        </div>
        <div class="list_firm_img_right">
          <h2 class="list_firm_img_right_title">The Dark Knight Rises</h2>
          <div class="list_firm_img_right_inf">
            <p>Trạng thái: HD Vietsub</p>
            
            <p>
              Nhà xuất bản:
              <span class="inf_change">Robert Cullen, José Luis Ucha</span>
            </p>
            
            <p>
              Diễn viên:
              <span class="inf_change line_max"
                >Kate Siegel, Zach Gilford, Hamish Linklater, Henry Thomas,
                Kristin Lehman, Samantha Sloyan, Igby Rigney, Rahul Kohli,
                Annarah Cymone, Annabeth Gish, Alex Essoe, Rahul Abburi, Matt
                Biedel, Michael Trucco, Crystal Balint, Louis Oliver</span
              >
            </p>
            
            <p>
              Quốc gia:
              <span class="inf_change"
                >United States, Ghana, Burkina Faso, United Kingdom, Germany,
                Ethiopia</span
              >
            </p>
            
            <p>Năm sản xuất: 2011</p>
            
            <p>Thời lượng: <span class="inf_change">1 Season</span></p>
            
            <p>Độ phân giải: <span>Full HD</span></p>
            <p>Id_Firm: <span class="inf_change_id">1234</span></p>
          </div>
          <div class="rating_movie">
            <h2>Đánh giá phim</h2>
            <form action="/danhgia" class="rating" method="post">
              <span class="star" 
                ><i aria-hidden="true" class="fa fa-star"></i
              ></span>
              <span class="star" 
                ><i aria-hidden="true" class="fa fa-star"></i
              ></span>
              <span class="star" 
                ><i aria-hidden="true" class="fa fa-star"></i
              ></span>
              <span class="star" 
                ><i aria-hidden="true" class="fa fa-star"></i
              ></span>
              <span class="star"
                ><i aria-hidden="true" class="fa fa-star"></i
              ></span>
              <input
                id="id_nguoidung"
                name="id_nguoidung"
                type="hidden"
                value="36"
              />
              <input id="pos" name="pos" type="hidden" value="0" />
              <input id="id_phim" name="id_phim" type="hidden" value="3" />
              <input
                id="rating_user"
                name="rating_user"
                type="hidden"
                value="0"
              />
              <input class="rating_submit" type="submit" value="Đánh giá" />
            </form>
            <form action="/recommend" class="recommends" method="post">             
              <input type="submit" value="Recommend" />
            </form>  
          </div>
        </div>
      </div>
      <div class="list_firm_img">
        <div class="list_firm_img_left">
          <img alt="" class="img_display" src="/static/img/5.jpg" />
          <div class="list_firm_img_left_btn">
            <button>Trailer</button>
            <button class="btn_xemphim">Xem phim</button>
          </div>
        </div>
        <div class="list_firm_img_right">
          <h2 class="list_firm_img_right_title">Avengers: Age of Ultron</h2>
          <div class="list_firm_img_right_inf">
            <p>Trạng thái: HD Vietsub</p>
            
            <p>
              Nhà xuất bản: <span class="inf_change">Kongkiat Komesiri</span>
            </p>
            
            <p>
              Diễn viên:
              <span class="inf_change line_max"
                >Melissa McCarthy, Chris O'Dowd, Kevin Kline, Timothy Olyphant,
                Daveed Diggs, Skyler Gisondo, Laura Harrier, Rosalind Chao,
                Kimberly Quinn, Loretta Devine, Ravi Kapoor</span
              >
            </p>
            
            <p>
              Quốc gia:
              <span class="inf_change">United States</span>
            </p>
            
            <p>Năm sản xuất: 2011</p>
            
            <p>Thời lượng: <span class="inf_change">125 min</span></p>
            
            <p>Độ phân giải: <span>Full HD</span></p>
            <p>Id_Firm: <span class="inf_change_id">1234</span></p>

          </div>
          <div class="rating_movie">
            <h2>Đánh giá phim</h2>
            <form action="/danhgia" class="rating" method="post">
              <span class="star" 
                ><i aria-hidden="true" class="fa fa-star"></i
              ></span>
              <span class="star" 
                ><i aria-hidden="true" class="fa fa-star"></i
              ></span>
              <span class="star" 
                ><i aria-hidden="true" class="fa fa-star"></i
              ></span>
              <span class="star" 
                ><i aria-hidden="true" class="fa fa-star"></i
              ></span>
              <span class="star" 
                ><i aria-hidden="true" class="fa fa-star"></i
              ></span>
              <input
                id="id_nguoidung"
                name="id_nguoidung"
                type="hidden"
                value="36"
              />
              <input id="id_phim" name="id_phim" type="hidden" value="7" />
              <input id="pos" name="pos" type="hidden" value="0" />
              <input
                id="rating_user"
                name="rating_user"
                type="hidden"
                value="0"
              />
              <input class="rating_submit" type="submit" value="Đánh giá" />
            </form>
            <form action="/recommend" class="recommends" method="post">             
              <input type="submit" value="Recommend" />
            </form>  
          </div>
        </div>
      </div>
      <div class="list_firm_img">
        <div class="list_firm_img_left">
          <img alt="" class="img_display" src="/static/img/10.jpg" />
          <div class="list_firm_img_left_btn">
            <button>Trailer</button>
            <button class="btn_xemphim">Xem phim</button>
          </div>
        </div>
        <div class="list_firm_img_right">
          <h2 class="list_firm_img_right_title">
            Harry Potter and the Half-Blood Prince
          </h2>
          <div class="list_firm_img_right_inf">
            <p>Trạng thái: HD Vietsub</p>
            
            <p>
              Nhà xuất bản: <span class="inf_change">Christian Schwochow</span>
            </p>
            
            <p>
              Diễn viên:
              <span class="inf_change line_max"
                >Sukollawat Kanarot, Sushar Manaying, Pavarit Mongkolpisit,
                Sahajak Boonthanakit, Suthipongse Thatphithakkul, Bhasaworn
                Bawronkirati, Daweerit Chullasapya, Waratthaya Wongchayaporn,
                Kittiphoom Wongpentak, Abhicha Thanachanun, Nophand Boonyai,
                Kittipong Khamsat, Arisara Wongchalee, Jaytiya Naiwattanakul,
                Pantipa Arunwattanachai, Panupan Jantanawong, Kungtap Saelim,
                Phumphat Chartsuriyakiat, Issara Veranitinunt, Keerati Sivakuae,
                Panjai Sirisuwan, Supranee Charoenpol, Suda Chuenban, Visaka
                Banhansupavat, Pitchatorn Santinatornkul</span
              >
            </p>
            
            <p>Quốc gia: <span class="inf_change">Mexico</span></p>
            
            <p>Năm sản xuất: 2011</p>
            
            <p>Thời lượng: <span class="inf_change">9 Seasons</span></p>
            
            <p>Độ phân giải: <span>Full HD</span></p>
            <p>Id_Firm: <span class="inf_change_id">1234</span></p>

          </div>
          <div class="rating_movie">
            <h2>Đánh giá phim</h2>
            <form action="/danhgia" class="rating" method="post">
              <span class="star" 
                ><i aria-hidden="true" class="fa fa-star"></i
              ></span>
              <span class="star" 
                ><i aria-hidden="true" class="fa fa-star"></i
              ></span>
              <span class="star"
                ><i aria-hidden="true" class="fa fa-star"></i
              ></span>
              <span class="star"
                ><i aria-hidden="true" class="fa fa-star"></i
              ></span>
              <span class="star"
                ><i aria-hidden="true" class="fa fa-star"></i
              ></span>
              <input
                id="id_nguoidung"
                name="id_nguoidung"
                type="hidden"
                value="36"
              />
              <input id="id_phim" name="id_phim" type="hidden" value="8" />
              <input id="pos" name="pos" type="hidden" value="0" />
              <input
                id="rating_user"
                name="rating_user"
                type="hidden"
                value="0"
              />
              <input class="rating_submit" type="submit" value="Đánh giá" />
            </form>
            <form action="/recommend" class="recommends" method="post">             
              <input type="submit" value="Recommend" />
            </form>           
          </div>
        </div>
      </div>
    </div>
    <script>
      const rating = document.querySelectorAll(".rating");
      const rating_user = document.querySelectorAll("#rating_user");
      const pos = document.querySelectorAll("#pos");

      rating.forEach((item, index1) => {
        const span_rating = item.querySelectorAll(".star");
        span_rating.forEach((star, index) => {
          star.addEventListener("click", (event) => {
            for (var i = 0; i <= index; i++) {
              span_rating[i].style.color = "#ebed54";
            }
            for (var i = index + 1; i < span_rating.length; i++) {
              span_rating[i].style.color = "rgb(192, 186, 186)";
            }
            rating_user[index1].value = index + 1;
            console.log('rating_user',rating_user[index1].value)
            pos[index1].value = index1 + 1;
          });
        });
      });
      const recommends = document.querySelector(".recommends");
      recommends.addEventListener("click", (event) => {
        recommends.style.display="none";
      })
      let firm = ['https://phimmoichillh.net/xem/avatar-2-a3-tap-full-pm105448',
                  'https://phimmoiyyy.net/phim-le/nguoi-nhen-du-hanh-vu-tru-nhen-15411',
                  'https://mephimtv.net/xem-phim/aquaman-de-vuong-atlantis',
                  'https://mephimtv.net/xem-phim/avengers-de-che-ultron']
      // Xem phim btn_xemphim
      const btn_xemphim = document.querySelectorAll(".btn_xemphim");
      btn_xemphim.forEach((item, index1) => {
        item.addEventListener("click", (event) => {
          window.open(firm[index1], "_blank");
        })
      })
    </script>
  </body>
</html>
